<!--메인페이지-->
        <div class="position2 box3">
            <div class="view_background"><img id="background" src="/image/polaroid_profile.png" width="700px" height="650px">
              <script type="text/javascript">
              </script></div>
            <div class="view1">
              작성자 : <%= data.name %> <br><br>
              소원: <%= data.wish_contents %>
            </div>
        </div>