<!--메인페이지-->
        <div class="position2 box3">
            <form action="/create" method="post">

            <div class="colorchange">장식을 고르고 소원을 등록해보세요 !</div>
            <div class="box4"></div>

            <div class="deco1"><button type="button" class="btn_image div2" id="treedeco_1" onclick="imageurl(1)"><img src="/image/treedeco_1.png" width="70px"></button></div>
            <div class="deco2"><button type="button" class="btn_image div2" id="treedeco_2" onclick="imageurl(2)"><img src="/image/treedeco_2.png" width="70px"></button></div>
            <div class="deco3"><button type="button" class="btn_image div2" id="treedeco_3" onclick="imageurl(3)"><img src="/image/treedeco_3.png" width="70px"></button></div>
            <div class="deco4"><button type="button" class="btn_image div2" id="treedeco_4" onclick="imageurl(4)"><img src="/image/treedeco_4.png" width="70px"></button></div>
            <div class="deco5"><button type="button" class="btn_image div2" id="treedeco_5" onclick="imageurl(5)"><img src="/image/treedeco_5.png" width="70px"></button></div>
            <div class="deco6"><button type="button" class="btn_image div2" id="treedeco_6" onclick="imageurl(6)"><img src="/image/treedeco_6.png" width=" 70px"></button></div>

            <div class="box8"><input id="textarea6" rows="intro" cols="60" rows="5" name="name" placeholder="익명 이름 쓰기"></textarea></div>
            <div class="box9"><input id="textarea2" rows="intro" cols="60" rows="5" name="wish_contents" placeholder="소원 쓰기"></textarea></div>

            <div class="b5"><button type="submit" class="button2" id="hungry" value="" name="image">등록하기</div>
            </form>
        </div>