<div class="position4"><img src="/image/spring.png"></div>
<div class="position4_1"><img src="/image/spring.png"></div>
<div class="position4_2"><img src="/image/spring.png"></div>
<div class="position4_3"><img src="/image/spring.png"></div>

<a href="/index"><div class="position2_1 index1">홈</div></a>
<a href="/sendcard"><div class="position2_1 index2">카드보내기</div></a>
<a href="/wish"><div class="position2_1 index3">소원등록</div></a>
<a href="/game"><div class="position2_1 index4">미니게임</div></a>
<a href="/mypage"><div class="position2_1 index5">마이페이지</div></a>

<div class="position3">
    <img src="/image/bottom.png" width="134%" height="140">
</div>