<div class="position2 box3">
    <div class="card_background">
        <img src="image\christmascard_1.png" width="100%">
    </div>
    <div class="wirte_card">
        <form method="post">
            <div class="card_title">
                <label>TO&nbsp;</label>
                <input type="text" name="to_name" placeholder="받는 사람을 입력하세요" required />
            </div>
            <div class="card_writer">
                <label>FROM&nbsp;</label>
                <input type="text" name="from_name" placeholder="보내는 사람을 입력하세요" />
            </div>
            <div class="card_text">
                <textarea name="content" placeholder="카드를 작성해보세요 !"></textarea>
            </div>
            <div class="send_card_button">
                <input type="submit" value="보내기" />
            </div>
        </form>
    </div>
</div>