<!--메인페이지-->
        <div class="position2 box3">
            <div class="card_background2"><img src="image\christmascard_3.png" width="640px" height="500px"></div>
            <div class="wirte_card">
                <form method="post">
                        <tr>
                            <div class="card_title">
                                <td>
                                    <label for="title">TO&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                    <input type="text" id="input1" placeholder="받는 사람을 입력하세요" name="to_name" required="required">
                                </td>
                            </div>
                        </tr>
                        <tr>
                        <div class="card_writer">
                            <td>
                                <label for="writer">FROM&nbsp;</label>
                                <input type="text" id="input1" placeholder="보내는 사람을 입력하세요" name="from_name">
                            </td>
                        </div>
                    </tr>
                    <tr>
                        <div class="card_text">
                            <td>
                                <textarea id="textarea3"  name="content" placeholder="카드를 작성해보세요 !"></textarea>
                            </td>
                        </div>
                    </tr>
                    <div class="send_card_button"><input id="button1" type="submit" /></div>
                </form>
            </div>
        </div>