<!--메인페이지-->
        <div class="position2 box3">
            <div class="list_title">누구한테 카드가 왔을까요 ?</div>
            <div class="cardtable">
                <% data.forEach(function (item, index) { %>
                    <table width="500">
                    <tr>
                        <td width="70%"><%= item.from_name %></td>
                        <td width="30%"><a href="/view/<%= item.from_name %>">view</a><br></td>
                    </tr>
                </table>
                    <% }); %>
            </div>
        </div>