<div class="position2 box3">
    <p class="menu-intro">마음을 담아 카드를 보내보세요!</p>
    <div class="card-representative">
        <img src="/image/card.png" />
    </div>
    <div class="card-menu">
        <div class="card-option">
            <a href="/card/new">✍️ 카드 작성</a>
        </div>
        <div class="card-option">
            <a href="/card/receivedList">📥 받은 카드</a>
        </div>
        <div class="card-option">
            <a href="/card/sentList">📤 보낸 카드</a>
        </div>
    </div>
</div>
