<div class="position2 box3">
    <div class="card_list">
        <h2>받은 카드 목록</h2>
        <div class="card_list_scroll">
            <ul class="card_list_ul">
              <% if (data.length === 0) { %>
                <li>받은 카드가 없습니다.</li>
              <% } else { %>
                <% data.forEach(card => { %>
                  <li>
                    <a href="/card/detail/<%= card._id %>">
                      <%= card.from_name %> | <%= card.createdAt.toLocaleString('en-US', { month: 'short', day: '2-digit', hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: false }) %> <br>
                      <%= card.content %>
                    </a>
                  </li>
                <% }) %>
              <% } %>
            </ul>
        </div>
    </div>
</div>