<div class="position2 box3">
    <div class="colorchange">카드 종류</div>
    <div class="card1"><a href="/card/1"><img src="/image/christmascard_1.png" width="300px" height="260px"></a></div>
    <div class="card2"><a href="/card/2"><img src="/image/christmascard_2.png" width="300px" height="260px"></a></div>
    <div class="card3"><a href="/card/3"><img src="/image/christmascard_3.png" width="300px" height="240px"></a></div>
    <div class="card4"><a href="/card/4"><img src="/image/christmascard_4.png" width="300px" height="240px"></a></div>
</div>