
<!-- 기존 코드 (불필요시 제거해도 됨) -->
<!-- <% if (!is_logined) { %> -->
<!--     <li><a href="/auth/kakao">카카오 로그인</a></li> -->
<!-- <% } else { %> -->
<!--     <li><%= user.nickname %>님 환영합니다!</li> -->
<!--     <li><a href="/user/logout">로그아웃</a></li> -->
<!-- <% } %> -->

<div class="position2 box3">
    <div class="maintree"><img src="image\main_tree.png"></div>
    <div class="participants_1">트리꾸미기 참여자</div>
    <!--참여자 목록 예시로 넣은 것-->
    <div class="participants">
        <tr>
            <td>참여자 1</td><br>
            <td>참여자 2</td><br>
            <td>참여자 3</td>
        </tr>
    </div>
</div>
