<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>마이페이지</title>
</head>
<body>
<h1>마이페이지</h1>

<p><strong>이메일:</strong> <%= user.email %></p>
<p><strong>닉네임:</strong> <%= user.nickname %></p>

<a href="/user/logout">로그아웃</a>
</body>
</html>
