<!--메인페이지-->
        <div class="position2 box3">
            <div class="imgchange">프로필 이미지</div>
            <div class="imgchange_1"><img src="image\프로필예시.png"  height="200px" width="160px"></div>
            <div class="b1"><input type="button" class="button" name="image" value="수정"></div>
            <div class="introchange">상태메세지</div>
            <div class="t"><textarea id="textarea1" ows="intro" cols="60" rows="5" name="intro" placeholder="㈆Б태메㉦ㅔⓩㅣ를 입력㉻㈆ㅔ요."></textarea></div>
            <div class="b3"><input type="button" class="button" value="수정"></div>
        </div>