<div class="position2 box3">
    <div class="game_message">스페이스바로 선물을 얻어보세요 !</div>
    <div align="center" class="game">
        <canvas id="gameCanvas" width="800" height="600"></canvas>
        <script src="/js/game.js"></script>
    </div>
</div>