body {
  margin: 0;
  background-color: #38761D;
}

#input1{
  width: 390px;
  height: 20px;
}
#input2 {
  width: 150px;
  height: 20px;
}
#input3 {
  width: 285px;
  height: 20px;
}
#textarea1{
  width: 460px;
  height:110px;
}
#sform{
  text-align: center;
  margin-top:250px;
}
#psform{
  text-align: center;
  margin-top:230px;
}
#fform{
  margin-top: 130px;
  right: 10px;
}
